{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'scripts/script.js' %}" type="text/javscript" defer></script>

<div class="row">
<div class="col s6">
  <div class="profile card medium">
    <div class="card-image">
      <img src="{% static 'img/image.jpg' %}">
    </div>
    <section class='grey darken-4'>
      <div class="card-content">
        Student Name
      </div>
      <div class="card-action">
        Student Email
      </div>
    </section>
  </div>
</div>
<!-- {% for unit in units %} -->
<div class="col s6">
  <div class="accordion js-accordion">
    <div class="accordion__item js-accordion-item">
      <div class="accordion-header js-accordion-header">Unit unit info here </div>
      <div class="accordion-body__contents">
        <ul>
          <li><span>Date: date goes here </span> assignment goes here <button href="#modal1" class="btn modal-trigger"><a href="">GitHub Link</a></button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- {% endfor %} -->
</div>

{% endblock %}
