<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
  <script src="{% static 'scripts/script.js' %}" type="text/javscript" defer></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Comfortaa|Markazi+Text" rel="stylesheet">
  <title>Homework Tracker</title>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="grey darken-4">
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Home</a>
        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="">Cohort Overview</a></li>
          <li><a href="{% url 'cohort_select' %}">Cohort Select</a></li>
          <li><a href="{% url 'student_detail' %}">Student Detail</a></li>
          <li><a href="{% url 'logout' %}">Sign Out</a></li>
          <a href="#" datatarget="dropdown1" class="dropdown-trigger button"></a>
          <ul id="dropdown1" class="dropdown-content">
            <li>Reviewed work<span id="reviewed" class="{{ this.student.assignments }}">{{ this.student.assignment.newreviewed }}</span></li>
            <li>Pending Review<span id="need-review" class="{{ this.student.assignments }}">{{ this.student.assignent.pending }}</span></li>
            <li><a href="#">Missing Work<span id="missing" class="{{ this.student.assignments }}">{{ this.student.assignment.missing }}</span></li>
          </ul>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer grey darken-4">
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });
  var accordion = (function() {

    var $accordion = $('.js-accordion');
    var $accordion_header = $accordion.find('.js-accordion-header');
    var $accordion_item = $('.js-accordion-item');

    // default settings
    var settings = {
      // animation speed
      speed: 400,

      // close all other accordion items if true
      oneOpen: false
    };

    return {
      // pass configurable object literal
      init: function($settings) {
        $accordion_header.on('click', function() {
          accordion.toggle($(this));
        });

        $.extend(settings, $settings);

        // ensure only one accordion is active if oneOpen is true
        if (settings.oneOpen && $('.js-accordion-item.active').length > 1) {
          $('.js-accordion-item.active:not(:first)').removeClass('active');
        }

        // reveal the active accordion bodies
        $('.js-accordion-item.active').find('> .js-accordion-body').show();
      },
      toggle: function($this) {

        if (settings.oneOpen && $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]) {
          $this.closest('.js-accordion')
            .find('> .js-accordion-item')
            .removeClass('active')
            .find('.js-accordion-body')
            .slideUp()
        }

        // show/hide the clicked accordion item
        $this.closest('.js-accordion-item').toggleClass('active');
        $this.next().stop().slideToggle(settings.speed);
      }
    }
  })();

  $(document).ready(function() {
    accordion.init({
      speed: 300,
      oneOpen: true
    });
  });
</script>
</html>
